<nav id="micro-chat-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#micro-chat-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">MICRO CHAT</a>
        </div>

        <div class="collapse navbar-collapse" id="micro-chat-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><span class="navbar-text">Hi {{ app.user.username }} !</span></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>