{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Micro Chat{% endblock %}

{% block body %}
    {% if app.user %}
        Hi {{ app.user.username }}, <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script src="{{ asset('bundles/app/js/micro_chat.js') }}"></script>
{% endblock %}